---
import '../../css/home-page/stat-section.css';

---

<section id="stat-section" class="section">
    <div class="container">
        <ul class="stat-list">
            <li id="item-1" class="stat-item">
                <h2 class="title">40+</h2>
                <h3 class="text">years of experience</h3>
            </li>
            <li id="item-2" class="stat-item">
                <h2 class="title">5k+</h2>
                <h3 class="text">projects completed</h3>
            </li>
            <li id="item-3" class="stat-item">
                <h2 class="title">2k+</h2>
                <h3 class="text">happy clients</h3>
            </li>
            <li id="item-4" class="stat-item">
                <h2 class="title">5+</h2>
                <h3 class="text">awards won</h3>
            </li>
        </ul>
    </div>
    <div id="top-tear" class="tear-wrapper"/>
    <div id="bottom-tear" class="tear-wrapper"/>
    <div class="flower-container">
        <div id="left-flower-wrapper" class="flower-wrapper">
            <img class="full-image" src="/icons/Flowers.svg" alt="" decoding="async" loading="lazy"/>
        </div>
        <div id="right-flower-wrapper" class="flower-wrapper">
            <img class="full-image" src="/icons/Flowers.svg" alt="" decoding="async" loading="lazy"/>
        </div>
    </div>
</section>