---
import '../../css/home-page/stat-section.css';
---

<!-- add grass here -->

<section id="stat-section" class="section">
    <div class="container">
        <ul class="stat-list">
            <li class="stat-item">
                <h2 class="title">40+</h2>
                <h3 class="text">years of experience</h3>
            </li>
            <li class="stat-item">
                <h2 class="title">400k+</h2>
                <h3 class="text">projects completed</h3>
            </li>
            <li class="stat-item">
                <h2 class="title">300k+</h2>
                <h3 class="text">happy clients</h3>
            </li>
            <li class="stat-item">
                <h2 class="title">20+</h2>
                <h3 class="text">awards won</h3>
            </li>
        </ul>
    </div>
</section>