---
import '../../css/home-page/team-section.css';
import ButtonLink from '../General/button-link.astro';
---

<section id="team-section" class="section">
    <div class="container">
        <div class="flex">
            <div class="top-content">
                <span class="topping-text">Team Members</span>
                <h2 class="title">Meet Our Expert Landscaping Team</h2>
                <p class="text">
                    Discover our dedicated landscaping team serving East Texas. With years of experience and a passion for transforming outdoor spaces, our experts deliver exceptional results for residential and commercial properties. Trust us to enhance your landscape with professionalism and local expertise.
                </p>
                <ButtonLink href="/about-us" primary={true}>Meet Everyone</ButtonLink>
            </div>
        </div>
    </div>
</section>