---
import '../../css/home-page/testimonials.css';
import { ImportAvif, ImportJpg, ImportWebP } from '../../_Scripts/build-scripts/ImageImporter';

import BackgroundImageDesktop from '../../assets/images/home-page/CropBackgroundDesktop.jpg';
import BackgroundImageTablet from '../../assets/images/home-page/CropBackgroundTablet.jpg';
import BackgroundImageMobile from '../../assets/images/home-page/CropBackgroundMobile.jpg';

const BgImageDesktopAvif = await ImportAvif(BackgroundImageDesktop, BackgroundImageDesktop.width, "high");
const BgImageDesktopWebP = await ImportWebP(BackgroundImageDesktop, BackgroundImageDesktop.width, "high");
const BgImageDesktopJpg = await ImportJpg(BackgroundImageDesktop, BackgroundImageDesktop.width, "high");

const BgImageTabletAvif = await ImportAvif(BackgroundImageTablet, BackgroundImageTablet.width, "high");
const BgImageTabletWebP = await ImportWebP(BackgroundImageTablet, BackgroundImageTablet.width, "high");
const BgImageTabletJpg = await ImportJpg(BackgroundImageTablet, BackgroundImageTablet.width, "high");

const BgImageMobileAvif = await ImportAvif(BackgroundImageMobile, BackgroundImageMobile.width, "high");
const BgImageMobileWebP = await ImportWebP(BackgroundImageMobile, BackgroundImageMobile.width, "high");
const BgImageMobileJpg = await ImportJpg(BackgroundImageMobile, BackgroundImageMobile.width, "high");



const DesktopBgImages = [BgImageDesktopAvif, BgImageDesktopWebP, BgImageDesktopJpg];
const TabletBgImages = [BgImageTabletAvif, BgImageTabletWebP, BgImageTabletJpg];
const MobileBgImages = [BgImageMobileAvif, BgImageMobileWebP, BgImageMobileJpg];

---

<section id="testimonial-section" class="section">
    <div class="container">
        <div class="title-container">
            <span class="topping-text">Testimonials</span>
            <h2 class="title">Our Client Reviews</h2>
        </div>
        <div id="testimonial-card" class="testimonial-card">
            <p class="text"></p>
            <div class="author-container">
                <span id="testimonial-author" class="title"></span>
                <br>
                <span id="testimonial-source" class="text"></span>
            </div>
        </div>
        <div class="controller-wrapper">
            <button id="previous-quote-button" class="quote-button">
                <img class="full-image" src="/icons/google-icons/Chevron.svg" alt="next quote">
            </button>
            <div id="quote-point-wrapper"></div>
            <button id="next-quote-button" class="quote-button">
                <img class="full-image" src="/icons/google-icons/Chevron.svg" alt="previous quote">
            </button>
        </div>
    </div>
    <div class="bg-image background-image-wrapper">
        <picture>
            {
                MobileBgImages.map((image) => (
                    <source media="(max-width: 768px)" srcset={image.src}/>
                ))
            }
            {
                TabletBgImages.map((image) => (
                    <source media="(max-width: 1024px)" srcset={image.src}/>
                ))
            }
            {
                DesktopBgImages.map((image) => (
                    <source media="(min-width: 1025px)" srcset={image.src}/>
                ))
            }
            <img class="full-image" src={TabletBgImages[1].src} alt="" loading="lazy" decoding="async"/>
        </picture>
    </div>
</section>