---
import '../../css/home-page/work-process.css';
---


<section id="work-process-section" class="section">
    <div class="container">
        <div class="title-container">
            <span class="topping-text">Working Process</span>
            <h2 class="title">Our Simple Workflow</h2>
        </div>
        <ol class="work-list">
            <li class="work-card">
                <div class="card-icon-wrapper">
                    <img class="full-image" src="/icons/clipboard.svg" alt=""/>
                </div>
                <span class="text card-title">Design & Planning</span>
                <p class="subheading-text">We brainstorm ideas and create a clear plan with you before starting any project.</p>
            </li>
            <li class="work-card">
                <div class="card-icon-wrapper">
                    <img class="full-image" src="/icons/MagnifyingGlass.svg" alt=""/>
                </div>
                <span class="text card-title">Prospecting</span>
                <p class="subheading-text">We research, analyze, and identify the best solutions to meet your project goals.</p>
            </li>
            <li class="work-card">
                <div class="card-icon-wrapper">
                    <img class="full-image" src="/icons/Worker.svg" alt=""/>
                </div>
                <span class="text card-title">Labor</span>
                <p class="subheading-text">We build and implement your project with precision and attention to every little detail.</p>
            </li>
            <li class="work-card">
                <div class="card-icon-wrapper">
                    <img class="full-image" src="/icons/polishFlowers.svg" alt=""/>
                </div>
                <span class="text card-title">Polishing</span>
                <p class="subheading-text">We review, refine, and test the project to ensure quality and deliver a polished final result.</p>
            </li>
        </ol>
    </div>
</section>