---
import globalStyles from '../css/global.css?url';

import Navbar from "../components/General/navbar.astro";

const currentRoute = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator}/>

		<slot name="preload"/>
		<link rel="preload" href="/fonts/raleway.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
		<link rel="preload" href="/fonts/roboto.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
		<link rel="preload" href={globalStyles} as="style"/>
		<link rel="stylesheet" href={globalStyles}/>
		

		<title>Astro Basics</title>
	</head>
	<body>
		<header>
			<Navbar path={currentRoute}/>
		</header>
		<slot />
	</body>
</html>
