---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/General/inner-hero.astro';
---

<Layout title="Attributions" description="A list of icon and image credits for visual assets used in this project.">
    <Hero title="Attributions"/>
    <section class="section">
        <div class="container">
        <h2>Icon & Image Credits</h2>
            <ul>
                <li>
                    <a href="https://www.flaticon.com/free-icons/lettuce" title="lettuce icons" target="_blank" rel="noreferrer">
                        Lettuce icons created by DinosoftLabs - Flaticon
                    </a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/free-icons/flower" title="flower icons" target="_blank" rel="noreferrer">
                        Flower icons created by Xinh Studio - Flaticon
                    </a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/free-icons/garden" title="garden icons" target="_blank" rel="noreferrer">
                        Garden icons created by ultimatearm - Flaticon
                    </a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/free-icons/landscape" title="landscape icons" target="_blank" rel="noreferrer">
                        Landscape icons created by Witdhawaty - Flaticon
                    </a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/free-icons/fertilizer" title="fertilizer icons" target="_blank" rel="noreferrer">
                        Fertilizer icons created by Good Ware - Flaticon
                    </a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/free-icons/tree-stump" title="tree stump icons" target="_blank" rel="noreferrer">
                        Tree stump icons created by surang - Flaticon
                    </a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/free-icons/grass" title="grass icons" target="_blank" rel="noreferrer">
                        Grass icons created by POD Gladiator - Flaticon
                    </a>
                </li>
                <li>
                    <a href="https://www.freepik.com/premium-vector/vector-farm-field-landscape-furrows-pattern-plowed-prepared-crops-planting-vintage-realistic-engraving-sketch-illustration_28555021.htm#fromView=search&page=1&position=38&uuid=1078192a-f9fb-454e-8117-6f26943819ae&query=crop+rows" target="_blank" rel="noreferrer">
                        Farm field landscape illustration by Freepik
                    </a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/free-icons/clipboard" title="clipboard icons" target="_blank" rel="noreferrer">
                        Clipboard icons created by Freepik - Flaticon
                    </a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/free-icons/search" title="search icons" target="_blank" rel="noreferrer">
                        Search icons created by Freepik - Flaticon
                    </a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/free-icons/labor" title="labor icons" target="_blank" rel="noreferrer">
                        Labor icons created by Prosymbols Premium - Flaticon
                    </a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/free-icons/flowers" title="flowers icons" target="_blank" rel="noreferrer">
                        Flowers icons created by SBTS2018 - Flaticon
                    </a>
                </li>
            </ul>
        </div>
    </section>
</Layout>