---
import Layout from "../layouts/Layout.astro";
import InnerHero from "../components/General/inner-hero.astro";
---


<Layout title="Blog" description="Explore expert insights, tutorials, and tips to enhance your skills with our comprehensive blog. Stay updated and learn from industry professionals.">
    <InnerHero title="Blog"/>
    <section class="section">
        <div class="container">
            <h2 class="title">TEMPORARY PAGE</h2>
        </div>
    </section>
</Layout>