---
import Layout from "../layouts/Layout.astro";
import InnerHero from "../components/General/inner-hero.astro";
---


<Layout title="Hedge Trimming" description="Professional hedge trimming services to keep your garden neat and healthy.">
    <InnerHero title="Contact"/>
    <section class="section">
        <div class="container">
            <h2 class="title">TEMPORARY PAGE</h2>
        </div>
    </section>
</Layout>