@media(min-width: 0px){
    #stat-section {
        background-color: var(--secondary-color);
        position: relative;
        z-index: 1;
    }

    #stat-section .stat-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 3rem;
        list-style: none;
        color: var(--text-color-light);
        width: 100%;
        justify-content: space-between;
    }

    #stat-section .stat-item {
        text-align: center;

        h2 {
            margin-bottom: 1rem;
        }
    }

    #stat-section .tear-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        z-index: -1;
        filter: brightness(0) saturate(100%) invert(13%) sepia(28%) saturate(1944%) hue-rotate(103deg) brightness(94%) contrast(93%);
        background-repeat: repeat-x;
    }

    #stat-section .stat-item {
        position: relative;
    }

    #stat-section #item-1::after {
        content: "40+";
    }

    #stat-section #item-2::after {
        content: "5k+";
    }

    #stat-section #item-3::after {
        content: "2k+";
    }

    #stat-section #item-4::after {
        content: "5+";
    }

    #stat-section #item-1::after,
    #stat-section #item-2::after,
    #stat-section #item-3::after,
    #stat-section #item-4::after {
        position: absolute;
        font-weight: 900;
        font-size: 5rem;
        left: 50%;
        bottom: 0;
        translate: -75% 5%;
        opacity: 0.1;
        font-family: var(--heading-font), "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }

    #stat-section #top-tear {
        bottom: 10%;
        background-image: url("/PaperTearTop.png");
    }

    #stat-section #bottom-tear {
        top: 80%;
        background-image: url("/PaperTearBottom.png");
    }

    #stat-section .flower-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
    }

    #stat-section .flower-wrapper {
        position: absolute;
        display: none;
    }
}

@media(min-width: 768px) {

    #stat-section .stat-list {
        display: flex;
        flex-direction: row;
    }

    #stat-section #top-tear {
        bottom: 20%;
    }

    #stat-section .flower-wrapper {
        display: block;

        img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2366%) hue-rotate(273deg) brightness(111%) contrast(100%);
            opacity: 0.1;
        }
    }

    #stat-section #left-flower-wrapper {
        left: -15%;
        top: -50%;
        rotate: 135deg;
    }

    #stat-section #right-flower-wrapper {
        right: -15%;
        top: -50%;
        rotate: -135deg;
    }
}