---
import Layout from "../../layouts/Layout.astro";
import InnerHero from "../../components/General/inner-hero.astro";
---

<Layout title="Mowing And Whacking" description="Professional mowing and whacking services to keep your lawn neat, tidy, and healthy. We offer reliable grass cutting, edge trimming, and yard maintenance for residential and commercial properties.">
    <InnerHero title="Mowing & Whacking"/>
    <section class="section">
        <div class="container">
            <h2 class="title">TEMPORARY PAGE</h2>
        </div>
    </section>
</Layout>